<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>InceptionResnetURL</key>
	<string>http://max-inception-resnet-v2.max.us-south.containers.appdomain.cloud</string>
	<key>SceneClassifierURL</key>
	<string>http://max-scene-classifier.max.us-south.containers.appdomain.cloud</string>
</dict>
</plist>
